<div class = "row">
  <%= form_tag(search_index_path, method: "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter brewery name here" %>
    <%= submit_tag "search", name: nil, id: "search-form" %>
  <% end %>
</div>


<div class ="row">
  <% if @brewery_results %>
    <ul>
      <% @brewery_results.each do |result| %>
        <li>
          <%= link_to "#{result.name} - #{result.city.name}, #{result.state.name}", state_brewery_path(result.state_id, result.id) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
