<h1>Google Maps Test</h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>


<%= @state.name %>

<% @state.breweries.each do |brewery| %>
  <ul>
    <li>
       <%= link_to brewery.name, state_brewery_path(@state, brewery) %>
     </li>
   </ul>
<% end %>
