<h1>Google Maps Test</h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>


<%= @state.name %>

<% @state.breweries.each do |brewery| %>
  <ul>
    <li>
       <%= link_to brewery.name, state_brewery_path(@state, brewery) %>
     </li>
   </ul>
<% end %>


<script type="text/javascript"
  src= <%= @map_api_call %> >
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: { lat: 44.558803, lng: -72.577841},
      zoom: 7
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
  }

  var geocoder = new google.maps.Geocoder();

     geocoder.geocode({'address': 'RU'}, function (results, status) {
        var ne = results[0].geometry.viewport.getNorthEast();
        var sw = results[0].geometry.viewport.getSouthWest();

        map.fitBounds(results[0].geometry.viewport);

        var boundingBoxPoints = [
           ne, new google.maps.LatLng(ne.lat(), sw.lng()),
           sw, new google.maps.LatLng(sw.lat(), ne.lng()), ne
        ];

        var boundingBox = new google.maps.Polyline({
           path: boundingBoxPoints,
           strokeColor: '#FF0000',
           strokeOpacity: 1.0,
           strokeWeight: 2
        });

        boundingBox.setMap(map);
     });



    //  TRY THIS INSTEAD:


     var mapCenter;
       if (! searchCity){
         var searchCity = "";
       }
       geocoder = new google.maps.Geocoder();

       geocoder.geocode({'address': searchCity}, function(results, status){
         mapCenter = results[0].geometry.location;
       });
     function initialize() {
       var map;
       var elevator;

       var mapOptions = {
         zoom: 14,
         center: mapCenter,
         disableDefaultUI: false
       };

       map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

       var bounds = new google.maps.LatLngBounds();
       var pointCount = 0;
       for (var x = 0; x < addresses.length; x++) {
         var p = addresses[x]
         var latlng = new google.maps.LatLng(p[0], p[1]);
         new google.maps.Marker({
           position: latlng,
           map: map
         });
         pointCount++;
         bounds.extend(latlng);
       }
       if (pointCount > 1) {
         map.fitBounds(bounds);
       }
       else if (pointCount == 1) {
         map.setCenter(bounds.getCenter());
         map.setZoom(13);
       }
     };


     google.maps.event.addDomListener(
       window,
       'load',
       function () {
         //1000 milliseconds == 1 second,
         //play with this til find a happy minimum delay amount
         window.setTimeout(initialize, 0);
       }
     );







  google.maps.event.addDomListener(window, 'load', initialize);
</script>
