<h1><%= @city.name %></h1>

<div class="small-6 large-5 columns">
  <h2>Select brewery:</h2>
  <%= select_tag 'breweries', options_from_collection_for_select(@city.breweries, 'id', 'name'), include_blank: true%>
</div>


<script type="text/javascript" >

// Listener on brewery dropdown. Links to brewery page on select

$(function(){
  $('#breweries').bind('change', function () {
    var state = <%= @city.state.id %>;
     var url = "/states/" + state + "/breweries/" + $(this).val()
      if (url) {
          window.location.replace(url);
      }
      return false;
  });
});

</script>
