<div class = "row">
  <h1><%= @city.name %></h1>

  <div class="small-6 large-5 columns" id="brew-info">
    <h2>Select brewery:</h2>
    <%= select_tag 'breweries', options_from_collection_for_select(@city.breweries, 'id', 'name'), include_blank: true%>
  </div>

  <%= render "city_map" %>
</div>
