<h1>About Beerica</h1>

<hr>

<h2>Share and Sign in functionality coming soon!</h2>


<p>Beerica is an app for tracking the state of breweries around the United States, built by Nathan Burgess, a Ruby on Rails web developer from Vermont now living in Massachusetts. It makes use of the excellent BreweryDB API (http://www.brewerydb.com/)</p>

<hr>
<h2><%= link_to "Nathan's GitHub page", "https://github.com/NB28VT" %></h2>
<h2><%= link_to "Nathan's Twitter page", "https://twitter.com/Burgess28Vt" %></h2>
