<h1>About Beerica</h1>

<p>Beerica is an app for tracking the state of breweries around the United States, built by Nathan Burgess, a Ruby on Rails web developer from Vermont now living in Massachusetts. It makes use of the excellent BreweryDB API (http://www.brewerydb.com/)</p>
